# 숫자 타입

In [3]:
# 파이썬 최신에서는 나누기의 결과는 항상 실수(float)
#  - 다른 언어, 예전 파이썬에서는 정수/정수 => 정수 였어요.
20 / 5

4.0

In [4]:
21 / 5

4.2

In [5]:
21 // 5  # 몫

4

In [6]:
21 % 5  # 나머지

1

In [7]:
divmod(21, 5)  # 몫과 나머지를 한 번에 계산

(4, 1)

In [8]:
몫, 나머지 = divmod(21, 5)

# 문자열 타입

In [9]:
"hello" + "world"

'helloworld'

In [10]:
"hello" + 10

TypeError: can only concatenate str (not "int") to str

In [11]:
"hello" * 10

'hellohellohellohellohellohellohellohellohellohello'

In [12]:
"가" < "나"

True

In [13]:
ord("가")

44032

In [14]:
ord("나")

45208

# 파이썬은 대개 같은 타입에 대해서 `+` 연산자를 지원

In [15]:
1 + 2

3

In [16]:
1 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [17]:
'1' + '2'

'12'

In [18]:
a = 1
b = '2' 

# 숫자로서 더하길 원한다.
print(a + int(b))  # b 문자열을 정수로 변환한 뒤, 더하기

# 문자열로서 더하길 원한다.
print(str(a) + b)  # a 값을 문자열로 변환한 뒤, 더하기

3
12

## 쌍따옴표 3개 문자열 문법

In [19]:
가사 = """첫번째 줄
두번째 줄
세번재 줄"""

In [20]:
# 문자열 정의 4가지 문법 중에 어떤 문법을 쓰나, 생성되는 문자열 데이터는 동일하다.
"hello"

'hello'

In [21]:
'hello'

'hello'

In [22]:
message = "This is Chinseok's Book"
message

"This is Chinseok's Book"

In [23]:
# \ : Escape 문자
# 가운데 역슬래시를 붙인 홑따옴표는 literal로서의 역할은 하지 말고
# 그냥 문자열로서 활동하라.
message = 'This is Chinseok\'s Book'

In [24]:
message = "철수가 말했다. \"밥 먹으러 가자.\""

In [25]:
message = '철수가 말했다. "밥 먹으러 가자."'

# 변수를 통한 문자열 메시지 완성하기

In [26]:
# 스타일 1
message = "안녕하세요. 이진석님. 저희 대동마트에 오신 것을 환영합니다."
print(message)

안녕하세요. 이진석님. 저희 대동마트에 오신 것을 환영합니다.

In [27]:
# 스타일 2
name = "이진석"
mart = "대동마트"
# place holder : 값이 문자열 타입으로 삽입될 공간을 중괄호로 지정
template = "안녕하세요. {}님. 저희 {}에 오신 것을 환영합니다."
message = template.format(name, mart)
print(message)

안녕하세요. 이진석님. 저희 대동마트에 오신 것을 환영합니다.

In [28]:
# place holder 이름을 지정합니다.
template = "안녕하세요. {이름}님. 저희 {마트이름}에 오신 것을 환영합니다."
message = template.format(이름=name, 마트이름=mart)
print(message)

안녕하세요. 이진석님. 저희 대동마트에 오신 것을 환영합니다.

In [29]:
# 값이 개별 변수에 저장되어있지만, 대개는 하나의 사전(dict) 변수에 저장되어 활용되는 경우가 많습니다.
context = { "이름": "이진석", "마트이름": "대동마트" }

template = "안녕하세요. {이름}님. 저희 {마트이름}에 오신 것을 환영합니다."
# unpack 문법 : 하나의 변수에 담긴 값들을 풀어서, 여러 개의 인자인 것처럼 넘겨줍니다.
message = template.format(**context)
print(message)

안녕하세요. 이진석님. 저희 대동마트에 오신 것을 환영합니다.

# bool 타입

참/거짓을 판정

In [30]:
# 모든 if 조건절에서는 if/else 를 꼭 쌍으로 써주시길 권장드립니다.
# 그래야만 표현식이 예기치못한 False 판정 시에도 이를 인지할 수 있어요.

# 표현식 = True  # 값
# 표현식 = ""  # 빈 문자열은 거짓 판정
# 표현식 = " "  # 빈 문자열이 아닌 문자열은 모두 참 판정
# 표현식 = 1 < 2
# 표현식 = 100 < 99   # 거짓
# 표현식 = "100" < "99" # 3글자 => 3개의 문자코드가 이어진 상황.
표현식 = ["1", "0", "0"] < ["9", "9"]

if 표현식:  # Expression
    print("위 표현식이 참 판정을 받을 때 수행되는 code block")
else:
    print("위 표현식이 거짓 판정을 받을 때 수행되는 code block")

위 표현식이 참 판정을 받을 때 수행되는 code block

# 논리연산자 and/or

In [31]:
A = 1
B = 2
A and B  # 2

2

In [32]:
A = 0
B = 2
A and B  # 0

0

In [33]:
# jupyter notebook에서 input 함수를 써서, 입력상황이 되었을 때에는
# 이 입력상황을 없애야만 다른 Cell 실행을 할 수 있습니다.

# or : 디폴트 값을 지정할 목적으로 많이 사용합니다.
answer = input("1 + 2 = ? => ") or "no input"  # 유저로부터 1줄 입력을 받습니다.
print("유저의 입력값은", len(answer), "글자입니다.", answer)

1 + 2 = ? =>  0

유저의 입력값은 1 글자입니다. 0

## 어떤 값에 대해서 bool 판정이 궁금하다면?

In [34]:
int("123") + 456

579

In [35]:
bool("")

False

In [36]:
bool(" ")

True

In [37]:
bool([])

False

## 홀수/짝수 판정

In [38]:
# 간결한 구현을 위해
# 숫자 이외에 다른 값을 입력하는 상황은 고려하지 않겠어요.

# 외부에서 들어온 값은 거의 문자열
# => 받으면 이를 적절한 타입으로 변환하는 작업이 필요.

number = input("자연수를 입력하세요.")    # 입력된 문자열을 반환
print("number 타입 :", type(number))  # number 변수의 타입을 출력
number = int(number)  # 타입 변환 (str to int)
if number % 2 == 0:
    print("짝수를 입력하셨네요.")
if number % 2 != 0:
    print("홀수를 입력하셨네요.")

자연수를 입력하세요. 10

number 타입 : <class 'str'>
짝수를 입력하셨네요.

In [39]:
if number % 2 == 0:
    print("짝수를 입력하셨네요.")
else:  # 위 조건이 모두 거짓일 때, 수행
    print("홀수를 입력하셨네요.")

짝수를 입력하셨네요.

In [40]:
if number % 2:  # 읽기 어려운 코드. 명확하지 않은 코드.
    print("홀수를 입력하셨네요.")
else:  # 위 조건이 모두 거짓일 때, 수행
    print("짝수를 입력하셨네요.")

짝수를 입력하셨네요.

# & 와 | 는 비트 연산자

+ 하드웨어, 전자보드를 만드는 회사라면 쓸법한 문법

In [41]:
True and True  # 앞값이 참이라면, 뒷값을 씁니다.

True

In [42]:
0b10 and 0b01

1

In [43]:
0b10 & 0b01

0

In [44]:
0b10 | 0b01

3

# NameError

In [45]:
age = 10

In [46]:
age

10

In [47]:
number

10

# 값의 타입 변환

In [48]:
int("100")  # 문자열 -> 숫자 (10진수)

100

In [49]:
int("100", 8) # 8진법 100을 십진수로 변환

64

In [50]:
int("100", 11)

121

In [51]:
int("100", 2)

4

In [52]:
int("100", 16)

256

In [53]:
# 16진수 수 : 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, a, b, c, d, e, f
int("a12")

ValueError: invalid literal for int() with base 10: 'a12'

In [54]:
int("a12", 16)

2578

In [55]:
# 문자열을 순회돌면, 1글자씩 문자를 받아옵니다.
for 글자 in "HELLO":  # 글자(문자)들의 모음. 순서가 있습니다.
    print(글자)

H
E
L
L
O

In [56]:
list("HELLO")

['H', 'E', 'L', 'L', 'O']

In [57]:
ord("H")  # "H" 글자가 가진 숫자로 변환

72

In [58]:
codes = []  # 리스트(list), 순서를 가지며, 원하는 위치에 값을 추가할 수 있어요.

for 글자 in "HELLO":
    code = ord(글자)
    codes.append(code)  # 매 글자의 숫자 코드를 codes 리스트 끝에 추가

codes

[72, 69, 76, 76, 79]

In [60]:
# list comprehension 문법
#  - list comprehension을 쓰는 데, 코드가 좀 길어진다 싶으면
#    그냥 쓰지마시고 코드를 풀어쓰세요. => **가독성**이 중요해요.
codes = [ord(글자) for 글자 in "HELLO"]
codes

[72, 69, 76, 76, 79]

In [61]:
numbers = range(1, 11, 1)  # 1이상 11미만의 범위에서 1씩 증가되는 값을 생성

In [62]:
# numbers에서 각 항목의 제곱값으로 이뤄진 새로운 리스트
new_numbers = []

for n in numbers:
    # n * n
    new_numbers.append(n ** 2)

new_numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [63]:
# list comprehension 문법으로 아래 numbers 값을 활용해서, 각 항목의 제곱으로 이뤄진 새로운 리스트 생성
numbers = range(1, 11, 1)

[num ** 2 for num in numbers]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# 타입 힌팅

In [65]:
# 하나의 변수에 여러 타입의 값들을 바꿔가며 담을 수 있어요. => 유연함
#  - 상대적으로, 유연함이 없는 언어 : Java, C/C++ 등
#  - 파이썬의 철학 : 유연함이 더 주는 가치가 크다고 생각.

# 이런 유연함이 있지만, 가급적이면 하나의 변수는 하나의 타입으로만 쓰는 것이 좋아요.
message = "hello"
message = 10
message

10

In [66]:
# 이 변수는 str 타입으로만 쓰겠어요. 라는 힌트. => VSCode 등.
#  - 이전에는 VSCode 등이 코드를 실행해봐야만 message가 문자열인지 뒤늦게 알게되요.
#  - 타입 힌트가 있으면 VSCode 등이 코드를 실행해보지 않아도 message 타입을 알게 되요.
message: str = "hello"

In [68]:
message.title()  # 첫 글자를 대소문자로 바꾼 새로운 문자열을 반환

'Hello'

각 변수에 타입을 지정하면, `Codex`, `Claude Code`, `Gemini` 등의 AI들도
각 변수의 타입을 빠르게 인지할 수 있어서, 타입을 오해하지 않고 동작하는 코드를
생성해줄 수 있습니다.

+ 타입을 쓰지 않는다고 해서 에러는 X.
+ 타입을 잘못 지정한다고 해서 에러는 X.