# 숫자 타입

In [2]:
# 파이썬 최신에서는 나누기의 결과는 항상 실수(float)
#  - 다른 언어, 예전 파이썬에서는 정수/정수 => 정수 였어요.
20 / 5

4.0

In [3]:
21 / 5

4.2

In [4]:
21 // 5  # 몫

4

In [5]:
21 % 5  # 나머지

1

In [6]:
divmod(21, 5)  # 몫과 나머지를 한 번에 계산

(4, 1)

In [7]:
몫, 나머지 = divmod(21, 5)

# 문자열 타입

In [8]:
"hello" + "world"

'helloworld'

In [9]:
"hello" + 10

TypeError: can only concatenate str (not "int") to str

In [10]:
"hello" * 10

'hellohellohellohellohellohellohellohellohellohello'

In [11]:
"가" < "나"

True

In [12]:
ord("가")

44032

In [13]:
ord("나")

45208

# 파이썬은 대개 같은 타입에 대해서 `+` 연산자를 지원

In [14]:
1 + 2

3

In [15]:
1 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
'1' + '2'

'12'

In [17]:
a = 1
b = '2' 

# 숫자로서 더하길 원한다.
print(a + int(b))  # b 문자열을 정수로 변환한 뒤, 더하기

# 문자열로서 더하길 원한다.
print(str(a) + b)  # a 값을 문자열로 변환한 뒤, 더하기

3
12

## 쌍따옴표 3개 문자열 문법

In [18]:
가사 = """첫번째 줄
두번째 줄
세번재 줄"""

In [21]:
# 문자열 정의 4가지 문법 중에 어떤 문법을 쓰나, 생성되는 문자열 데이터는 동일하다.
"hello"

'hello'

In [22]:
'hello'

'hello'

In [23]:
message = "This is Chinseok's Book"
message

"This is Chinseok's Book"

In [25]:
# \ : Escape 문자
# 가운데 역슬래시를 붙인 홑따옴표는 literal로서의 역할은 하지 말고
# 그냥 문자열로서 활동하라.
message = 'This is Chinseok\'s Book'

In [27]:
message = "철수가 말했다. \"밥 먹으러 가자.\""

In [28]:
message = '철수가 말했다. "밥 먹으러 가자."'

# 변수를 통한 문자열 메시지 완성하기

In [29]:
# 스타일 1
message = "안녕하세요. 이진석님. 저희 대동마트에 오신 것을 환영합니다."
print(message)

안녕하세요. 이진석님. 저희 대동마트에 오신 것을 환영합니다.

In [31]:
# 스타일 2
name = "이진석"
mart = "대동마트"
# place holder : 값이 문자열 타입으로 삽입될 공간을 중괄호로 지정
template = "안녕하세요. {}님. 저희 {}에 오신 것을 환영합니다."
message = template.format(name, mart)
print(message)

안녕하세요. 이진석님. 저희 대동마트에 오신 것을 환영합니다.

In [33]:
# place holder 이름을 지정합니다.
template = "안녕하세요. {이름}님. 저희 {마트이름}에 오신 것을 환영합니다."
message = template.format(이름=name, 마트이름=mart)
print(message)

안녕하세요. 이진석님. 저희 대동마트에 오신 것을 환영합니다.

In [34]:
# 값이 개별 변수에 저장되어있지만, 대개는 하나의 사전(dict) 변수에 저장되어 활용되는 경우가 많습니다.
context = { "이름": "이진석", "마트이름": "대동마트" }

template = "안녕하세요. {이름}님. 저희 {마트이름}에 오신 것을 환영합니다."
# unpack 문법 : 하나의 변수에 담긴 값들을 풀어서, 여러 개의 인자인 것처럼 넘겨줍니다.
message = template.format(**context)
print(message)

안녕하세요. 이진석님. 저희 대동마트에 오신 것을 환영합니다.